<template>
    <div class="vinyl-selection--container">
        <p v-if="isLoading">Loading, please wait :)</p>
        <div v-else class="button-wrapper">
            <div class="bubble" v-if="vinyl === null" :class="{ small: isRequesting }"></div>
            <VinylFlipButton
                class="search-btn"
                @clicked="onButtonClicked"
                :vinyl="vinyl"
            ></VinylFlipButton>
        </div>
        <p v-if="vinyl" class="vinyl-name">{{ vinyl.name }} - {{ vinyl.year }}</p>
        <p v-show="vinyl !== null">Click on the vinyl if you want to try another time!</p>
        <p class="vinyl-count">You have {{ count }} vinyls available !</p>
    </div>
</template>

<style lang="scss" scoped>
    $button-size: 300px;

    @keyframes bubbleGrowth {
        /* use transform: scale for better performances */
        0% {
            opacity: 1;
            transform: scale(0);
        }
        60% {
            opacity: 1;
        }
        95% {
            opacity: 0;
        }
        100% {
            opacity: 0;
            transform: scale(1);
        }
    }

    @keyframes small {
        /* use transform: scale for better performances */
        0% {
            transform: scale(.75);
        }
        100% {
            transform: scale(1);
        }
    }

    .vinyl-name {
        text-align: center;
        font-size: 1.3em;
    }

    .button-wrapper {
        width: $button-size;
        height: $button-size;
        position: relative;
        margin: auto;

        .bubble {
            $bubble-size: $button-size + ($button-size / 2);

            position: absolute;
            /* It is not recommended to use the trick with transform: translate here because of the animation */
            top: -25%;
            left: -25%;

            width: $bubble-size;
            height: $bubble-size;

            border-radius: 50%;
            background: rgba(0, 0, 0, .1);

            animation-name: bubbleGrowth;
            animation-duration: 1.5s;
            animation-iteration-count: infinite;
            animation-timing-function: ease-out;

            &.small {
                animation-name: small;
                animation-duration: .3s;
                animation-iteration-count: infinite;
                animation-timing-function: ease-in-out;
                animation-direction: alternate;
            }
        }
    }

    .vinyl-count {
        text-align: center;
        color: darkgrey;
        padding-top: 50px;
    }
</style>

<script lang="ts">
  import { Vue, Component } from 'vue-property-decorator';
  import VinylFlipButton from '@/components/VinylFlipButton.vue';
  import Api from '@/api';
  import { Vinyl } from '@/types';

  @Component({
    components: {
      VinylFlipButton,
    }
  })
  export default class VinylSelection extends Vue {

    count: number = 0;
    isLoading: boolean = false;
    isRequesting: boolean = false;
    vinyl: Vinyl | null = null;

    async created(): Promise<void> {
      this.isLoading = true;
      try {
        this.count = await Api.getCollectionCount();
      } catch(e) {
        console.error(e);
        alert('Error while loading vinyls.');
      }
      this.isLoading = false;
    }

    onButtonClicked(): void {
      if (this.vinyl === null) {
        this.getRandomVinyl();
      } else {
        // reset
        this.vinyl = null;
      }
    }

    async getRandomVinyl(): Promise<void> {
      this.isRequesting = true;
      const randomIndex = Math.floor(Math.random() * this.count);
      try {
        this.vinyl = await Api.getVinylByIndex(randomIndex);
      } catch(e) {
        console.error(e);
        alert('Error while trying to find a vinyl.');
      }
      this.isRequesting = false;
    }

  }
</script>
