<template>
    <div class="home--view" ref="root">
        <VinylSelection class="selection"></VinylSelection>
        <audio ref="foo" autoplay preload="auto" loop :src="require('../assets/song.mp3')"></audio>
        <!-- canvas is not resized so we need to wait for the definitive sizes -->
        <av-bars
            v-if="width > 0 && height > 0"
            ref-link="foo"
            bar-color="#f7d9d4"
            :canv-width="width"
            :canv-height="height"
            :symmetric="true"
            :fft-size="4096"
        />
    </div>
</template>

<style scoped>
    .home--view {
        width: 100%;
        height: 100%;
    }

    .selection {
        position: absolute;
        top: 40%;
        left: 50%;
        /* trick connu pour changer center l'anchor d'un element */
        transform: translate(-50%, -50%);
    }

    audio {
        display: none;
    }
</style>

<script lang="ts">
    import { Vue, Component } from 'vue-property-decorator';
    import VinylSelection from '@/containers/VinylSelection.vue';

    @Component({
      components: {
        VinylSelection,
      }
    })
    export default class Home extends Vue {

      width = 0;
      height = 0;

      mounted(): void {
        const { width, height } = (this.$refs['root'] as HTMLElement).getBoundingClientRect();
        this.width = width;
        this.height = height;
      }

    }
</script>
