<template>
    <div class="wrapper">
        <div class="center"></div>
    </div>
</template>

<style lang="scss" scoped>
    .wrapper {
        background: black;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        color: white;
        font-size: 1.6em;
        position: relative;

        /* just for fun! */
        &::before, &::after {
            content: '';
            border: 1px solid white;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            border-radius: 50%;
        }

        &::before {
            width: 70%;
            height: 70%;
        }

        &::after {
            width: 45%;
            height: 45%;
        }

        .center {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background: white;
            border-radius: 50%;
            width: 20%;
            height: 20%;
        }
    }
</style>

<script lang="ts">
    import { Vue, Component } from 'vue-property-decorator';
    import { Vinyl } from '@/types';

    @Component
    export default class StaticVinyl extends Vue {

    }
</script>
