<template>
    <div class="vinyl-flip-button" :class="{ flipped: vinyl !== null }">
        <div class="container" @click="$emit('clicked')">
            <!-- improvement: use slots -->
            <div class="face front">Search for a Vinyl</div>
            <div class="face back" v-if="vinyl !== null">
                <StaticVinyl></StaticVinyl>
            </div>
        </div>
    </div>
</template>

<style lang="scss" scoped>
    .vinyl-flip-button {
        perspective: 1000px;
        user-select: none;
        width: 100%;
        height: 100%;

        .container {
            width: 100%;
            height: 100%;
            position: relative;
            transition: transform .5s;
            transform-style: preserve-3d;

            .face {
                position: absolute;
                height: 100%;
                width: 100%;
                backface-visibility: hidden;
                border-radius: 50%;
                -webkit-font-smoothing: subpixel-antialiased;

                &.front {
                    background: #ff3313;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 1.3em;
                    font-weight: bold;
                    color: black;
                }

                &.back {
                    transform: rotateY(180deg);
                }
            }

            &:hover {
                transform: scale(0.95) translate3d(0, 0, 0);
                transition-duration: .2s;
                cursor: pointer;
            }

            &:active {
                transform: scale(0.8) translate3d(0, 0, 0);
            }
        }

        &.flipped {
            .container {
                transform: rotateY(180deg);
                transition-duration: .5s !important;
            }
        }
    }
</style>

<script lang="ts">
  import { Vue, Component, Prop } from 'vue-property-decorator';
  import { Vinyl } from '@/types';
  import StaticVinyl from '@/components/StaticVinyl.vue';

  @Component({
    components: {
      StaticVinyl,
    }
  })
  export default class VinylFlipButton extends Vue {

    @Prop({ default: null }) vinyl!: Vinyl | null;

  }
</script>
