<template>
    <div id="app">
        <router-view/>
    </div>
</template>

<style lang="scss">
    /* Global style, resets and normalization should be here */

    body {
        margin: 0;
        padding: 0;
    }

    #app {
        font-family: 'Calibri', sans-serif;
        position: fixed;
        width: 100%;
        height: 100%;
    }
</style>
